@keyframes trimRect {
    0% {
        stroke-dashoffset: 5360;
    }
    100%{
        stroke-dashoffset: 0;
    }
}
@keyframes logoScale {
    0% {
        transform: scale(0);
    }
    75% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes logoBackScale {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }
    75% {
        transform: translate(-50%, -50%) scale(1.2);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}
@keyframes mainHill {
    0% {
        transform: scale(0.7);
    }
    75% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes mainTree {
    0% {
        transform: scale(0);
    }
    75% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lTbranch {
    0%{
        transform: rotate(-2deg);
    }
    100% {
        transform: rotate(2deg);
    }
}
@keyframes rBbranch {
    0%{
        transform: rotate(-2deg);
    }
    100% {
        transform: rotate(4deg);
    }
}
@keyframes cloud01 {
    0% {
        transform:translateX(-10px);
    }
    100% {
        transform: translateX(20px);
    }
}