.cMLine>svg>polyline {
	fill:none;
	stroke:#996D4B;
	stroke-width:16;
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke-miterlimit:10;
	stroke-dasharray: 5960;
    stroke-dashoffset: 5960;
}

.cMLine {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -41%);
	z-index: 2;
}