.cMLine>svg>polyline {
	fill:none;
	stroke:#996D4B;
	stroke-width:16;
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke-miterlimit:10;
	stroke-dasharray: 5960;
    stroke-dashoffset: 5960;
}

.cMLine {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -41%);
	z-index: 2;
}
.cMLine figure {
    position: absolute;
    
}
.cMLine figure.tree {
    transform-origin: 50% 100%;
}
.cMLine figure.tree.line {
    transform: scale(1);
}
.cTree01 {
    top: -128px;
    left: 53px;
    width: 4%;
}
.cTree02 {
    top: -142px;
    left: 136px;
    width: 4%;
}
.cTree03 {
    top: -87px;
    left: 216px;
    width: 3%;
}
.cTree04 {
    top: 270px;
    left: 1261px;
    width: 4.5%;
}
.cTree05 {
    top:0px;
    left: 0px;
    width: 3%;
}
.cTree06 {
    top:0px;
    left: 0px;
    width: 3%;
}
.cTree07 {
    top:0px;
    left: 0px;
    width: 3%;
}
.cTree08 {
    top:0px;
    left: 0px;
    width: 3%;
}
.cTree09 {
    top:0px;
    left: 0px;
    width: 3%;
}
.cTree10 {
    top:0px;
    left: 0px;
    width: 3%;
}
.cTree11 {
    top:0px;
    left: 0px;
    width: 3%;
}
.cTree12 {
    top:0px;
    left: 0px;
    width: 3%;
}
.cTree13 {
    top:0px;
    left: 0px;
    width: 3%;
}