/*svg*/
.mCLine>rect {
	fill: none;
    stroke: #94EACE;
    stroke-width: 12;
    stroke-miterlimit: 10;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-dashoffset: 0;
    stroke-dasharray: 5360;
	animation:trimRect 2.75s ease-in-out forwards;
}

.wrap {
	overflow: hidden;
	position: relative;
}

header {
	position:fixed;
	top:20px;
	right:35px;
	z-index: 3;
}
div.mainCover {
	width:100%;
	height:100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background:#E6FCF3;
	position: relative;
}
.mainCover>h1 {
	position: relative;
    z-index: 2;
    font-size: 2.5rem;
	animation: logoScale 1.5s ease-in-out .25s forwards;
}
.mCLine {
	width:100%;
	height:100%;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	position: absolute;
}
.mainCover>figure {
	width:200px;
	position: absolute;
}
.mainCover>figure.logoBack {
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 440px;
	animation: logoBackScale 1.5s ease-in-out forwards;
}
.mainCover>figure.lTBranch {
	top: -3%;
    left: -30px;
    width: 45%;
	transform-origin: 0% 60%;
	animation: lTbranch 6s ease-in-out infinite alternate;
}
.mainCover>figure.rBBranch {
	bottom: -16%;
    width: 45%;
    right: -53px;
	z-index: 2;
	transform-origin: 100% 20%;
	animation: rBbranch 8.5s ease-in-out infinite alternate;
}
.mainCover>figure.mHBack {
	left: 0;
    bottom: -6px;
    width: 515px;
	transform-origin: 0% 100%;
	animation: mainHill 1.5s ease-in-out forwards;
}
.mainCover>figure.mHFront {
	left: 249px;
    bottom: -6px;
    width: 499px;
	transform-origin: 50% 100%;
	animation: mainHill 2s ease-in-out forwards;
}
.mainCover>figure.rSSTree {
	left: 11%;
    bottom: 2%;
    width: 3%;
	transform-origin: 50% 100%;
	transform: scale(0);
	animation: mainTree 0.5s ease-in-out 2s forwards ;
}
.mainCover>figure.cTree {
    left: 15%;
    bottom: 9%;
    width: 4%;
	transform-origin: 50% 100%;
	transform: scale(0);
	animation: mainTree 0.7s ease-in-out 2.2s forwards;
}
.mainCover>figure.lTBTree {
	left: 7%;
    bottom: 11%;
    width: 6%;
	transform-origin: 50% 100%;
	transform: scale(0);
	animation: mainTree 0.7s ease-in-out 2.4s forwards;
}
.mainCover>figure.rBTree {
	left: 2%;
    bottom: 5%;
    width: 4%;
	transform-origin: 50% 100%;
	transform: scale(0);
	animation: mainTree 1.2s ease-in-out 2.4s forwards;
}
.mainCover>figure.cloud {
	left: 14%;
    bottom: 34%;
    transform-origin: 50% 100%;
    transform: scale(0);
    animation: cloud01 4s ease-in-out alternate infinite;
}
.mainCover>figure.cloud01 {
	left: 5%;
	bottom: 45%;
	width: 150px;
}
.content {
	position: relative;
	background: linear-gradient(#E6FCF3, #94EACE);
    padding-top: 10vh;
}
.content * {
	font-size:1.35rem;
}
.content>li {
	width: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    position: relative;
}

.wayToCome {
	height: 50vh;
}
.wayToCome>dl {
	display: grid;
    justify-items: center;
}
.wayToCome>dl>dd>ul {
	display: grid;
    width: 60%;
    margin: 0 auto;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	grid-gap: 30px;
}
.information {
	height: 60vh;
    margin-top: 3vh;
}
.information>dl {
	display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    grid-gap: 30px;
}
.information>dl>dt {
	grid-column: 1 / 3;
	grid-row:1/2;
}
.cafeAndShop>dl {
	display: grid;
	justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.cafeAndShop {
	height: 60vh;
}
.cafeAndShop>dl>dt {
	grid-column: 1 / 3;
	grid-row:1/2;
}
.ourStory {
    height: 90vh;
}
footer {
	background:#434F4A;
	color:#D9F9F9;
}
.cMLine{
	border:1px solid red;
}