/*svg*/
.mCLine>rect {
	fill: none;
    stroke: #94EACE;
    stroke-width: 12;
    stroke-miterlimit: 10;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-dashoffset: 0;
    stroke-dasharray: 5360;
	animation:trimRect 2.75s ease-in-out forwards;
}

.wrap {
	overflow: hidden;
	position: relative;
	padding-bottom: 140px;
	min-width: 1903px;
}

header {
	position:fixed;
	top:80px;
	right:70px;
	z-index: 3;
}
.gnb {
	text-align: right;
	position: absolute;
	top: 65px;
	transform: translateX(300px);
	transition:all .5s ease-in-out;
}
.gnb.active {
	transform: translateX(-85px);
}
.gnb>li {
	font-size:1.5rem;
	margin-bottom:10px;
}
.gnb>li:nth-of-type(1){transition-delay:1s;}
.gnb>li:nth-of-type(2){transition-delay:1.5s;}
.gnb>li:nth-of-type(3){transition-delay:2s;}
.gnb>li:nth-of-type(4){transition-delay:2.5s;}
.toggleBar {
	width:50px;
	height:50px;
	display: grid;
    align-items: center;
	position: relative;
	left: 0px;
	transition: all .5s ease-in-out;
}
.toggleBar.active {
	margin-left:5px;
	left:10px;
}
.toggleBar>span {
	width:100%;
	height:5px;
	border-radius: 5px;
	background:#F7746D;
	display: block;
	transform-origin: 0% 50%;
	transition: all .5s ease-in-out;
}
.toggleBar>span:nth-of-type(1){
	transform: rotate(0deg);
}
.toggleBar>span:nth-of-type(2){
	transform-origin: 50% 50%;
	transform: scale(1) rotate(360deg);
}
.toggleBar>span:nth-of-type(3){
	transform: rotate(0deg);
}
.toggleBar.active>span:nth-of-type(1){
	transform: rotate(44deg);
}
.toggleBar.active>span:nth-of-type(2){
	transform:scale(0) rotate(0deg);
}
.toggleBar.active>span:nth-of-type(3){
	transform: rotate(-44deg);
}
div.mainCover {
	width:100%;
	height:100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background:#E6FCF3;
	position: relative;
}
.mainCover>h1 {
	position: relative;
    z-index: 2;
    font-size: 2.5rem;
	animation: logoScale 1.5s ease-in-out .25s forwards;
}
.mCLine {
	width:100%;
	height:100%;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	position: absolute;
}
.mainCover>figure {
	width:200px;
	position: absolute;
}
.mainCover>figure.logoBack {
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 440px;
	animation: logoBackScale 1.5s ease-in-out forwards;
}
.mainCover>figure.lTBranch {
	top: -3%;
    left: -30px;
    width: 45%;
	transform-origin: 0% 60%;
	animation: lTbranch 6s ease-in-out infinite alternate;
}
.mainCover>figure.rBBranch {
	bottom: -16%;
    width: 45%;
    right: -53px;
	z-index: 2;
	transform-origin: 100% 20%;
	animation: rBbranch 8.5s ease-in-out infinite alternate;
}
.mainCover>figure.mHBack {
	left: 0;
    bottom: -6px;
    width: 515px;
	transform-origin: 0% 100%;
	animation: mainHill 1.5s ease-in-out forwards;
}
.mainCover>figure.mHFront {
	left: 249px;
    bottom: -6px;
    width: 499px;
	transform-origin: 50% 100%;
	animation: mainHill 2s ease-in-out forwards;
}
.mainCover>figure.rSSTree {
	left: 11%;
    bottom: 2%;
    width: 3%;
	transform-origin: 50% 100%;
	transform: scale(0);
	animation: mainTree 0.5s ease-in-out 2s forwards ;
}
.mainCover>figure.cTree {
    left: 15%;
    bottom: 9%;
    width: 4%;
	transform-origin: 50% 100%;
	transform: scale(0);
	animation: mainTree 0.7s ease-in-out 2.2s forwards;
}
.mainCover>figure.lTBTree {
	left: 7%;
    bottom: 11%;
    width: 6%;
	transform-origin: 50% 100%;
	transform: scale(0);
	animation: mainTree 0.7s ease-in-out 2.4s forwards;
}
.mainCover>figure.rBTree {
	left: 2%;
    bottom: 5%;
    width: 4%;
	transform-origin: 50% 100%;
	transform: scale(0);
	animation: mainTree 1.2s ease-in-out 2.4s forwards;
}
.mainCover>figure.cloud {
	left: 14%;
    bottom: 34%;
    transform-origin: 50% 100%;
    transform: scale(0);
    animation: cloud01 4s ease-in-out alternate infinite;
}
.mainCover>figure.cloud01 {
	left: 5%;
	bottom: 45%;
	width: 150px;
}
.content {
	position: relative;
	background: linear-gradient(#E6FCF3, #94EACE);
    padding-top: 10vh;
}
.content * {
	font-size:1.25rem;
	line-height: 1.4;
}
.content>li {
	width: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    position: relative;
}
.content>li h2 {
    font-size: 2.5rem;
}
.content>li h3 {
	font-size: 1.5rem;
}
.wayToCome {
    height: 635px;
}
.wayToCome>dl {
	display: grid;
    justify-items: center;
}
.wayToCome>dl>dd>ul {
	display: grid;
    width: 65%;
    margin: 0 auto;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 30px;
}
.wayBus dd {
	margin-bottom:10px;
}
.wayCar {
	display: grid;
	align-content: center;
}
.wayCar ul li {
	margin-bottom:10px;
}
.information {
	height:620px;
	text-align: center;
}
.information>dl {
	display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    grid-gap: 30px;
    grid-template-columns: 280px 500px;
}
.information>dl>dt {
	grid-column: 1 / 3;
	grid-row:1/2;
}
.viewingTime dd{
	margin-bottom: 10px;
}
.tariff span {
	font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
	font-size: .5rem;
    color:#434F4A;
    word-break: keep-all;
}
.tariff tr {
	height:35px;
}
.tariff tr:first-of-type {
	height:40px;
}
.cell01 {
	width: 200px;
}
.cell02, .cell03 {
	width: 140px;
}
.cafeAndShop>dl {
	display: grid;
	justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    grid-template-columns: 430px 300px;
	grid-gap:20px;
}
.cafeAndShop {
	height: 490px;
	padding-top: 5vh;
}
.cafeAndShop>dl>dt {
	grid-column: 1 / 3;
	grid-row:1/2;
}
.cafeAndShop>dl>dd {
	padding:0 20px;
}
.cafeAndShop li {
	margin-bottom: 10px;
}
.cafeAndShop h3 {
	text-align: center;
	margin-bottom: 10px;
}
.cafe b {
	font-weight: 500;
	text-transform: uppercase;
}
.ourStory {
    height: 910px;
	position: relative;
}
.ourStory>p {
	line-height: 1.6;
    font-size: 1.1rem;
    text-align: justify;
    width: 40%;
	margin-top:10px;
}
#ourStory br {
    display: none;
}
.ourStory .bottomSvg {
	position: absolute;
	width: 100%;
	height: 100%;
}
.bottomSvg figure {
	width:100px;
	position: absolute;
	top: 0;
	left: 0;
}
.bottomSvg .rHill {    
	bottom: 0;
    top: auto;
    left: auto;
    right: 0;
    width: 54%;
    line-height: 0;
	transform-origin: 100% 100%;
}
.bottomSvg .lHill {
	bottom: 0;
    top: auto;
    width: 52%;
    line-height: 0;
	transform-origin: 0% 100%;
}
.bottomSvg .lHill.scroll,.bottomSvg .rHill.scroll {
	animation: mainHill 1.5s ease-in-out forwards;
}
.bottomSvg .dTree {
	transform-origin: 50% 100%;
}
.bottomSvg .dTree.scroll {
	animation: mainTree 1.25s ease-in-out forwards;
} 
.bottomSvg .dTree01 {
	width: 4%;
    top: 557px;
    left: 71px;
}
.bottomSvg .dTree02 {
	width: 9%;
    top: 405px;
    left: 209px;
}
.bottomSvg .dTree03 {
	width: 3.5%;
	top: 598px;
    left: 524px;
}
.bottomSvg .dTree04 {
	width: 5.5%;
	top: 644px;
    left: 375px;
}
.bottomSvg .dTree05 {
	width: 5%;
    top: 670px;
    left: 212px;
}
.bottomSvg .dTree06 {
	width: 3.5%;
    top: 733px;
    left: 921px;
}
.bottomSvg .dTree07 {
	width: 4.5%;
    top: 723px;
    left: 1206px;
}
.bottomSvg .dTree08 {
	width: 5.5%;
    top: 519px;
    left: 1509px;
}
.bottomSvg .dTree09{
	width: 4.5%;
    top: 660px;
    left: 1398px;
}
.bottomSvg .dTree10{
	width: 7.5%;
	top: 563px;
    left: 1691px;
}
.bottomSvg .dTree11{
	width: 4%;
    top: 653px;
    left: 1056px;
}
.bottomSvg .dTree12{
    width: 2.5%;
    top: 684px;
    left: 668px;
}
.dFlower {
	transform: scale(0) rotate(0deg);
	line-height: 0;
	transition: all 1.25s ease-in-out;
}
.bottomSvg .dFlower01{
	top: 262px;
    left: 89px;
}
.bottomSvg .dFlower02{
	top: 343px;
    left: 179px;
}
.bottomSvg .dFlower03{
	top: 293px;
    left: 671px;
}
.bottomSvg .dFlower04{
	top: 214px;
    left: 781px;
}
.bottomSvg .dFlower05{
	top: 277px;
    left: 1412px;
}
.bottomSvg .dFlower06{
	top: 406px;
    left: 1695px;
}
.bottomSvg .dCloud {
	width:200px;
	height: 127px;
    animation: cloud01 4s ease-in-out alternate infinite;
}
.bottomSvg .dCloud01 {
	top: 197px;
    left: 225px;
    width: 150px;
}
.bottomSvg .dCloud02 {
	top: 253px;
    left: 425px;
}
.bottomSvg .dCloud03 {
	top: 210px;
    left: 1135px;
}
.bottomSvg .dCloud04 {
	top: 350px;
    left: 1400px;
    width: 180px;
}
.bottomSvg .dFlower01.scroll {width: 2.5%; transform: scale(1) rotate(45deg);}
.bottomSvg .dFlower02.scroll {width: 2.5%; transform: scale(1.2) rotate(170deg);}
.bottomSvg .dFlower03.scroll {width: 2.5%; transform: scale(.7) rotate(130deg);}
.bottomSvg .dFlower04.scroll {width: 2.5%; transform: scale(1.3) rotate(114deg);}
.bottomSvg .dFlower05.scroll {width: 2.5%; transform: scale(.8) rotate(-61deg);}
.bottomSvg .dFlower06.scroll {width: 2.5%; transform: scale(1.6) rotate(45deg);}
footer {
	background:#434F4A;
	color:#D9F9F9;
	text-align: center;
	padding:25px 0;
	z-index: -1;
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
}
footer address {
	margin-bottom:5px;
}
footer a {
	margin-bottom: 5px;
	display: block;
}